<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anchor.mappers.GenTableMapper">
  <resultMap id="BaseResultMap" type="com.anchor.domain.GenTable">
    <id column="table_id" jdbcType="BIGINT" property="tableId" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="table_comment" jdbcType="VARCHAR" property="tableComment" />
    <result column="sub_table_name" jdbcType="VARCHAR" property="subTableName" />
    <result column="sub_table_fk_name" jdbcType="VARCHAR" property="subTableFkName" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="tpl_category" jdbcType="VARCHAR" property="tplCategory" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="business_name" jdbcType="VARCHAR" property="businessName" />
    <result column="function_name" jdbcType="VARCHAR" property="functionName" />
    <result column="function_author" jdbcType="VARCHAR" property="functionAuthor" />
    <result column="gen_type" jdbcType="CHAR" property="genType" />
    <result column="gen_path" jdbcType="VARCHAR" property="genPath" />
    <result column="options" jdbcType="VARCHAR" property="options" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <update id="updateByPrimaryKey"></update>
  <delete id="deleteByPrimaryKey"></delete>

  <select id="selectGenTableList" parameterType="com.anchor.domain.GenTable" resultMap="BaseResultMap">
    SELECT table_name, table_comment, create_time, update_time
    FROM information_schema.tables
    WHERE table_schema = (SELECT DATABASE())
    AND table_name NOT LIKE 'qrtz_%'
    AND table_name NOT LIKE 'gen_%'
    AND table_name NOT IN (SELECT table_name FROM gen_table)
    <if test="tableName != null and tableName != ''">
      AND lower(table_name) LIKE lower(CONCAT('%', #{tableName}, '%'))
    </if>
    <if test="tableComment != null and tableComment != ''">
      AND lower(table_comment) LIKE lower(CONCAT('%', #{tableComment}, '%'))
    </if>
    <!-- 直接使用GenTable类中的beginTime和endTime属性 -->
    <if test="createTime != null">
      AND date_format(create_time,'%y%m%d') &gt;= date_format(#{create_time},'%y%m%d')
    </if>

    ORDER BY create_time DESC
  </select>
  <select id="selectByPrimaryKey" resultType="com.anchor.domain.GenTable"></select>
  <select id="selectAll" resultType="com.anchor.domain.GenTable"></select>
</mapper>